@mixin pop-up {
  position: absolute;
  left: calc(100% + 7px);
  top: -5px;
  background: #fff;
  padding: 0 6px;
  z-index: 1;
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  width: calc(100vw / 7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  color: #464646;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid #C7C7C7;
    position: absolute;
    left: -8px;
    top: 7px;
    z-index: 2;
  }
  h4 {
    padding: 8px 0 5px 0;
  }
  p.date {
    text-align: left;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    img {
      width: 12px;
      height: 12px;
      margin: 10px 5px 0 0;
    }
  }
  p.description {
    padding: 3px 0 8px 0;
    text-align: justify;
  }
  p.location {
    padding: 8px 0;
    border-top: 1px solid #C7C7C7;
    text-align: left;
  }
  p.url {
    padding: 0 0 8px 0;
  }
}
