<div class="table_buttons">
  <p>Actions</p>
  <p>
    <%= link_to "Ajouter", request.path + "/choose", class: "add" if can? :create, "meetings" %>
    <%= edit_button if edit_button? %>
    <%= show_button if show_button? %>
    <%= delete_button if delete_button? %>
  </p>
</div>