<div class="table_buttons">
  <p>Actions</p>
  <p>
    <%= link_to "Ajouter", request.path + "/choose", class: "add" if can? :create, "meetings" %>
    <a class="edit" href="#">Editer</a>
    <a class="show" href="#">Voir</a>
    <a class="delete" href="#" data-method="delete" 
    rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">
      Supprimer
    </a>
  </p>
</div>