<h1><%= t("meeting.new.title") %></h1>

<div>
  <%= link_to t("views.meetings.new.group"), group_path(@group) %>
  <%= link_to t("views.meetings.new.choose"), choose_meetings_path %>
</div>

<%= render 'form' %>