#fixed {
  overflow: auto;
  padding: 100px 0 0 0;
}

#agenda {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  #options-menu {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: #565656;
    padding: 20px;
    color: #E6E6E6;
    transform: translateY(-100%);
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    &:target {
      transform: translateY(0);
      .open-close {
        bottom: -25px;
      }
    }
    .open-close {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      bottom: -20px;
      transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
      &:hover {
        bottom: -25px;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h3:not(:first-of-type) {
        padding: 10px 0 0 0;
      }
      button {
        background: #E6E6E6;
        color: #565656;
        padding: 2px 3px;
        border-radius: 2px;
        font-size: .9em;
      }
    }
  }
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      #loading-events {
        flex: 1;
        text-align: center;
        img {
          height: 32px;
        }
      }
      .month {
        text-align: right;
        font-size: 30px;
        padding: 10px 7px 10px 10px;
        min-width: 200px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      text-align: right;
      li {
        flex: 1;
        padding: 5px 7px;
      }
    }
  }
  .week-container {
    color: #464646;
    .week {
      display: flex;
      flex-direction: row;
      height: 150px;
      border-top: 1px solid #C7C7C7;
      position: relative;
      ul {
        display: flex;
        flex-direction: row;
        text-align: right;
        flex:1;
        li {
          flex: 1;
          padding: 5px 7px;
          .day-number {
            margin-bottom: 7px;
          }
          div {
            .entry {
              display: inline-block;
              position: relative;
              padding: 3px;
              margin: 2px;
              background-color: #E0E0E0;
              border-radius: 3px;
              font-size: 12px;
              &.worship   { background: rgba(255, 0,   0,   0.15); }
              &.event     { background: rgba(0,   255, 0,   0.15); }
              &.youth     { background: rgba(0,   0,   255, 0.15); }
              &.training  { background: rgba(255, 255, 0,   0.15); }
              &.church    { background: rgba(255, 0,   255, 0.15); }
              &.homegroup { background: rgba(0,   255, 255, 0.15); }
              img {
                width: 10px;
                vertical-align: top;
              }
              &:not(.pop-up-open) .pop-up {
                display: none;
              }
              &:focus {outline:0;}
            }
            @import '../components/popup';
            .pop-up {
              @include pop-up();
            }
          }
          $border_size: 2px;
          $border_color: #9B96B3;
          &.first-of-month {
            border-left: $border_size solid $border_color;
            border-top: $border_size solid $border_color;
          }
          &.start-of-month {
            border-top: $border_size solid $border_color;
          }
          &.end-of-month {
            border-bottom: $border_size solid $border_color;
          }
          &:nth-last-child(-n+2) {
            background: rgba(0,0,0,.05);
          }
          &.current {
            background: #777;
            color: #f3f3f3;
            .entry {
              background: none;
              border: 1px solid #E0E0E0;
            }
          }
          // popup for sundays
          &.last-of-week {
            div {
              .entry {
                .pop-up {
                  right: calc(100% + 7px);
                  left: initial;
                  &:after {
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left:8px solid #C7C7C7;
                    border-right: none;
                    position: absolute;
                    right: -8px;
                    top: 7px;
                    z-index: 2;
                    left: initial;
                  }
                }
              }
            }
          }
        } // li
      } // ul
      .month-name {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 2em;
        background: #F3F3F3;
      }
    }
  }
  button {
    background: none;
    border: none;
  }
}

#loading {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
}
/*
 * Print handling
 */
 #agenda {
   .header-print {
     display: none;
     position: fixed;
     z-index: 100;
     top: 15px;
     font-size: 8px;
     img {
       width: 80px;
       vertical-align: middle;
       padding: 5px;
     }
   }
 }
@media print {
  #agenda {
    .header-print {
      display: block;
    }
    #options-menu {
      display: none;
    }
    #fixed {
      overflow: hidden;
      .header {
        padding: 5px 0 !important;
        box-shadow: none;
        border-bottom: 3px solid #000;
      }
    }
    .week-container {
      .week {
        ul {
          li {
            .day-number {
              margin-bottom: 3px;
            }
            div {
              .entry {
                font-size: 8pt !important;
                padding: 2px;
              }
            }
            &:nth-last-child(-n+2) {
              background: rgba(0,0,0,.05) !important;
            }
            &.current {
              background: inherit;
              color: inherit;
              .entry {
                background: inherit;
                border: inherit;
              }
            }
          }
        }
      }
    }
  }
}
