<%= render 'back_button', path: groups_path if rights? :read, "groups" %>

<h1><%= t('.title') %></h1>

<div class="form">
  <%= form_for @group do |f| %>

    <%= render 'fields', f: f %>

  <% end %>
</div>