<p><%= t("table.buttons.title") %></p>
<p>
  <a class="delete" href="#" data-method="delete" 
  rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">
    <%= t("table.buttons.delete") %>
  </a>
</p>