@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #424242;
}
