<div id="fixed" infinite-scroll-up infinite-scroll-down month-name>
  <div class="header">
    <div class="month">
      {{ currentMonth }}
    </div>
    <ul>
      <li>lundi</li>
      <li>mardi</li>
      <li>mercredi</li>
      <li>jeudi</li>
      <li>vendredi</li>
      <li>samedi</li>
      <li>dimanche</li>
    </ul>
  </div>

  <div class="week-container">
    <div ng-repeat="week in weeks" ng-attr-id="{{week.month == currentMonth && 'current-month' || '' }}" 
      ng-class="{'has-month': week.month}" class="week">
      <ul>
        <li ng-repeat="(date, day) in week" ng-class="{current: (date == today)}">
          <p class="day-number">{{ date | dayFromDate }}</p>
          <p ng-repeat="event in day.events" class="event">
            {{ event.description }}
          </p>
        </li>
      </ul>
      <div class="month-name">{{ week.month }}</div>
    </div>
  </div>
</div>