<div id="fixed" infinite-scroll-up infinite-scroll-down month-name>
  <div class="header">
    <div class="first-row">
      <div id="loading-events" ng-show="loading">
        <%= image_tag image_url "layout/loading_gears.svg" %>
      </div>
      <div class="month">
        {{ currentMonth }}
      </div>
    </div>
    <ul>
      <li>lundi</li>
      <li>mardi</li>
      <li>mercredi</li>
      <li>jeudi</li>
      <li>vendredi</li>
      <li>samedi</li>
      <li>dimanche</li>
    </ul>
  </div>

  <div class="week-container">
    <div ng-repeat="week in weeks" month-attributes="{{ week.month }}" class="week">
      <ul>
        <li ng-repeat="(date, day) in week" ng-if="$index < 7" day-attributes 
          day="{{ day.number }}" date="{{ date }}" month="{{ week.month }}">
          <p class="day-number">{{ day.number }}</p>
          <p ng-repeat="event in day.events" class="event">
            {{ event.description }}
          </p>
        </li>
      </ul>
      <div class="month-name">{{ week.month }}</div>
    </div>
  </div>
</div>

<div id="loading" ng-hide="weeks.length">
  <%= image_tag image_url "layout/loading_gears.svg" %>
</div>
