<h1>Dashboard</h1>

<h2>Derniers membres inscrits</h2>

<% @last_members.each do |member| %>
  
  <p><%= link_to member.full_name, member %></p>

<% end %>

<h2>Dernières réunions</h2>

<% @last_meetings.each do |meeting| %>
  
  <%= link_to meeting do %>
    <% meeting.group.name + " le " + l(meeting.date, format: :long) %>
  <% end %>

<% end %>

<h2>Derniers suivis</h2>

<% @last_followups.each do |followup| %>
  
  <%= link_to followup do %>
    <% followup.member.full_name + " le " + l(followup.date, format: :long) %>
  <% end %>

<% end %>

<h2>Evénements à venir</h2>

<% @upcoming_events.each do |event| %>
  
  <p><%= link_to event.title, event %></p>

<% end %>