#fixed {
  overflow: auto;
  padding: 100px 0 0 0;
}

#agenda {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      #loading-events {
        flex: 1;
        text-align: center;
        img {
          height: 32px;
        }
      }
      .month {
        text-align: right;
        font-size: 30px;
        padding: 10px 7px 10px 10px;
        min-width: 200px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      text-align: right;
      li {
        flex: 1;
        padding: 5px 7px;
      }
    }
  }
  .week-container {
    color: #464646;
    .week {
      display: flex;
      flex-direction: row;
      height: 150px;
      border-top: 1px solid #C7C7C7;
      position: relative;
      ul {
        display: flex;
        flex-direction: row;
        text-align: right;
        flex:1;
        li {
          flex: 1;
          padding: 5px 7px;
          .day-number {
            margin-bottom: 7px;
          }
          .entry {
            display: inline-block;
            padding: 3px;
            margin: 2px;
            background-color: #E0E0E0;
            border-radius: 3px;
            font-size: 12px;
            &.worship   { background: rgba(255, 0,   0,   0.15); }
            &.event     { background: rgba(0,   255, 0,   0.15); }
            &.youth     { background: rgba(0,   0,   255, 0.15); }
            &.training  { background: rgba(255, 255, 0,   0.15); }
            &.church    { background: rgba(255, 0,   255, 0.15); }
            &.homegroup { background: rgba(0,   255, 255, 0.15); }
            img {
              width: 10px;
              vertical-align: top;
            }
          }
          $border_size: 2px;
          $border_color: #9B96B3;
          &.first-of-month {
            border-left: $border_size solid $border_color;
            border-top: $border_size solid $border_color;
          }
          &.start-of-month {
            border-top: $border_size solid $border_color;
          }
          &.end-of-month {
            border-bottom: $border_size solid $border_color;
          }
          &:nth-last-child(-n+2) {
            background: rgba(0,0,0,.05);
          }
        }
        li.current {
          background: #777;
          color: #f3f3f3;
          .entry {
            background: none;
            border: 1px solid #E0E0E0;
          }
        }
      }
      .month-name {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 2em;
        background: #F3F3F3;
      }
    }
  }
  button {
    background: none;
    border: none;
  }
}

#loading {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
}
/*
 * Print handling
 */
 #agenda {
   .header-print {
     display: none;
     position: fixed;
     z-index: 100;
     top: 0;
     font-size: 8px;
     img {
       width: 80px;
       vertical-align: middle;
       padding: 5px;
     }
   }
 }
@media print {
  #agenda {
    .header-print {
      display: block;
    }
    .entry {
      font-size: 8pt !important;
    }
  }
}
