#sidenav {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  border-right: 1.1px solid #d3d3d3;
  font-size: 13px;
  color: rgba(0,0,0,.54);

  #tool-title {
    border-bottom: 1.1px solid #d3d3d3;
    padding: 0 16px;
    height: 64px;
    align-items: center;
  }

  #tool-content {
    margin: 8px 0 0 0;
    .list-items {
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 20px;
        & > a {
          display: flex;
          flex: 1;
          padding: 0 0 0 20px;
          line-height: 40px;
          font-size: 15px;
          transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
        }
        & > img {
          width: 17px;
          height: 17px;
        }
        &:hover {
          background: #E6E6E6;
        }
        &.active {
          background: #BCDDFF;
          a {
            color: #3700FF;
          }
        }
      }
    }
  }
}
