@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #424242;
}

a {
  color: #417099;
}

#snaptable {
  table {
    tr {
      td {
        padding: 10px;
      }
    }
  }
  tr.selected {
    background: #F0BEBE;
  }
  .table_buttons {
    display: inline-block;
    a {
        padding: 7px 10px;
        border-radius: 3px;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        background: #aaa;
        pointer-events: none;
        cursor: default;
        display: inline-block;
        margin: 5px 0;
      &.on {
        background: #7f72f5;
        pointer-events: auto;
        cursor: auto;
      }
      &.add {
        background: #7f72f5;
        pointer-events: auto;
        cursor: auto;
      }
    }
  }
}
