<%= render 'back_button', path: followups_path %>

<h1><%= t("followup.edit.title", user: @followup.member.full_name) %></h1>

<%= link_to t("views.followups.edit.show"), followup_path(@followup) %>

<%= render 'form' %>