<div id="content-container" class="flex layout layout-col">
  <div id="content-container-toolbox">
    <%= yield :toolbox %>
  </div>
  <div id="content-container-pan">
      <%= yield %>
  </div>
</div>
