<%= render 'back_button', path: members_path %>

<h1><%= t("member.edit.title", user: @member.full_name) %></h1>

<%= link_to t("views.members.edit.show"), member_path(@member) %>

<%= render 'form' %>